
#title {
  font-size: 24pt;
  text-align: center;
  margin: 0 auto;
  display: none;
}


#consentButton {
  text-align: center;
  display: none;
}

.clickButton {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.clickButton_text {
  display: table;
  vertical-align: center;
  color: black;
  font-size: 20pt;
  border: 3px outset gray;
  background-color: #CCCCCC;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clickButton_text:hover {
  border: 3px inset gray;
}

.clickButton_text:active {
  border: 3px inset gray;
  background: gray;
}

#instructions {
  display: block;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 150px;
  height: 225px;
  text-align: center;
  vertical-align: center;
}

.instr {
  display: none;
  text-align: center;
  vertical-align: center;
}

#buttonGroup {
  display: none;
  margin-top: 250px;
}

#container-consent {
    background: white;
    margin: 10px;
    font-size: 12pt;
    text-align: left;
}

/* consent.html - the consent form */
#consent {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 0;
  width: 1000px;
  font-size: 100%;
  display: none;
}


#construct-prolificID{
  display: none;
  max-width: 65%;
  margin: 0 auto;
  margin-top: 150px;
  height: 225px;
  text-align: left;
  vertical-align: center;
}

#label {
  display: inline-block;
  width: 140px;
}

#buttonGroupID {
  display: none;
  margin-top: 250px;
  text-align: right;
  margin-right: 250px;
}








input[type=button] {
    font-family: arial;
}
body {
  margin-top:10px;
  font-family: Helvetica,Arial;
  background-color: white;
  color: black;
  font-size: 18pt;
  text-align: center;
  /* hide scoll bar */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}
#sprContainer {
  text-align: center;
  display: none;
}
.spr {
  font-size: 30px;
  z-index: 900;
}
#Response_Label1 {
  display: none;
  color: black;
  text-align: center;
  font-size: 20pt;
  font-style: italic;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%)
}
#spr_sentence {
  display: none;
  text-align: left;
  font-size: 20pt;
  line-height: 180%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.list-group{
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 950;
}
#Button_1 {
  display: none;
  background-color: steelblue;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}
#Button_2 {
  display: none;
  background-color: steelblue;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

#Label {
  display: none;
  color: gray;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  position: fixed;
  top: 77%;
  left: 20%;
  transform: translate(-50%, -50%)
}






#container-questionnaire{
  display: none;
  max-width: 65%;
  margin: 0 auto;
  margin-top: 0px;
  height: 225px;
  text-align: left;
  vertical-align: center;
}

#description_picture {
  text-align: center;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#description_instructions {
  text-align: center;
  font-size: 18pt;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#description_notes {
  text-align: center;
  font-size: 18pt;
  line-height: 75%;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#description_input {
  text-align: center;
  font-size: 24pt;
  line-height: normal;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonNext2 {
  display: none;
   margin-right: -700px;
}

#buttonNext3 {
  display: none;
  margin-right: -700px;
}






#recall_instructions {
  text-align: center;
  font-size: 18pt;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#recall_notes {
  text-align: center;
  font-size: 18pt;
  line-height: 75%;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#recall_focus {
  text-align: center;
  font-size: 18pt;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#recall_input {
  text-align: center;
  font-size: 24pt;
  line-height: normal;
  margin: 0;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  pointer-events: none;*/
}

